name: docker-build
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  linux-build:
    runs-on: [self-hosted, linux, x64 ]
    permissions:
      contents: read
      packages: write
    steps:
      - run: echo "Docker Build on Self-Hosted Linux x64 Runner"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ vars.DOCKERHUB_USERNAME }}/hello-kube:latest
          cache-from: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/hello-kube:buildcache
          cache-to: type=registry,ref=${{ vars.DOCKERHUB_USERNAME }}/hello-kube:buildcache,mode=max